{% extends 'base.html' %}
{% load static %}
{% block content %}
          <!-- Main -->
          <main
            class="w-full px-6 pb-6 pt-[100px] sm:pt-[156px] xl:px-[48px] xl:pb-[48px]"
          >
            <!-- write your code here-->
            <div class="2xl:flex 2xl:space-x-[48px]">
              <section class="mb-6 2xl:mb-0 2xl:flex-1">
                <div class="mb-[24px] w-full xl:flex xl:space-x-[24px]">
                  <div class="w-full xl:w-66">
                    <div class="grid gap-3 sm:grid-cols-2 sm:gap-[24px]">
                      <div
                        class="rounded-lg bg-white p-5 dark:bg-darkblack-600"
                      >
                        <div class="mb-5 flex items-center justify-between">
                          <div class="flex items-center space-x-[7px]">
                            <div class="icon">
                              <span>
                                <img
                                  src= "{% static './assets/images/icons/total-earn.svg' %}"
                                  alt="icon"
                                />
                              </span>
                            </div>
                            <span
                              class="text-lg font-semibold text-bgray-900 dark:text-white"
                              >Total</span
                            >
                          </div>
                          <div>
                            <img
                              src="{% static './assets/images/avatar/members-2.png' %}"
                              alt="members"
                            />
                          </div>
                        </div>
                        <div class="flex items-end justify-between">
                          <div class="flex-1">
                            <p
                              class="text-3xl font-bold leading-[48px] text-bgray-900 dark:text-white"
                            >
                              ${{total}}
                            </p>
                            <div class="flex items-center space-x-1">
                              <span>
                                <svg
                                  width="16"
                                  height="14"
                                  viewBox="0 0 16 14"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M13.4318 0.522827L12.4446 0.522827L8.55575 0.522827L7.56859 0.522827C6.28227 0.522827 5.48082 1.91818 6.12896 3.02928L9.06056 8.05489C9.7037 9.1574 11.2967 9.1574 11.9398 8.05489L14.8714 3.02928C15.5196 1.91818 14.7181 0.522828 13.4318 0.522827Z"
                                    fill="#22C55E"
                                  />
                                  <path
                                    opacity="0.4"
                                    d="M2.16878 13.0485L3.15594 13.0485L7.04483 13.0485L8.03199 13.0485C9.31831 13.0485 10.1198 11.6531 9.47163 10.542L6.54002 5.5164C5.89689 4.41389 4.30389 4.41389 3.66076 5.5164L0.729153 10.542C0.0810147 11.6531 0.882466 13.0485 2.16878 13.0485Z"
                                    fill="#22C55E"
                                  />
                                </svg>
                              </span>
                            </div>
                          </div>
                          <div class="w-[136px]">
                            <canvas id="totalEarnBar" height="68"></canvas>
                          </div>
                        </div>
                      </div>
                      <div
                        class="rounded-lg bg-white p-5 dark:bg-darkblack-600"
                      >
                        <div class="mb-5 flex items-center justify-between">
                          <div class="flex items-center space-x-[7px]">
                            <div class="icon">
                              <span>
                                <img
                                  src="{% static './assets/images/icons/total-earn.svg' %}"
                                  alt="icon"
                                />
                              </span>
                            </div>
                            <span
                              class="text-lg font-semibold text-bgray-900 dark:text-white"
                              >Total expenses</span
                            >
                          </div>
                          <div>
                            <img
                              src="{% static './assets/images/avatar/members-2.png' %}"
                              alt="members"
                            />
                          </div>
                        </div>
                        <div class="flex items-end justify-between">
                          <div class="flex-1">
                            <p
                              class="text-3xl font-bold leading-[48px] text-bgray-900 dark:text-white"
                            >
                              $ {{outcome}}
                            </p>
                            <div class="flex items-center space-x-1">
                              <span>
                                <svg
                                  width="16"
                                  height="14"
                                  viewBox="0 0 16 14"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M13.4318 0.522827L12.4446 0.522827L8.55575 0.522827L7.56859 0.522827C6.28227 0.522827 5.48082 1.91818 6.12896 3.02928L9.06056 8.05489C9.7037 9.1574 11.2967 9.1574 11.9398 8.05489L14.8714 3.02928C15.5196 1.91818 14.7181 0.522828 13.4318 0.522827Z"
                                    fill="#22C55E"
                                  />
                                  <path
                                    opacity="0.4"
                                    d="M2.16878 13.0485L3.15594 13.0485L7.04483 13.0485L8.03199 13.0485C9.31831 13.0485 10.1198 11.6531 9.47163 10.542L6.54002 5.5164C5.89689 4.41389 4.30389 4.41389 3.66076 5.5164L0.729153 10.542C0.0810147 11.6531 0.882466 13.0485 2.16878 13.0485Z"
                                    fill="#22C55E"
                                  />
                                </svg>
                              </span>
                              <span
                                class="text-sm font-medium text-success-300"
                              >
                                + 3.5%
                              </span>
                            </div>
                          </div>
                          <div class="w-[136px]">
                            <canvas id="totalSpendingBar" height="68"></canvas>
                          </div>
                        </div>
                      </div>
                      <div
                        class="rounded-lg bg-white p-5 dark:bg-darkblack-600"
                      >
                        <div class="mb-5 flex items-center justify-between">
                          <div class="flex items-center space-x-[7px]">
                            <div class="icon">
                              <span>
                                <img
                                  src="{% static './assets/images/icons/total-earn.svg' %}"
                                  alt="icon"
                                />
                              </span>
                            </div>
                            <span
                              class="text-lg font-semibold text-bgray-900 dark:text-white"
                              >Total income</span
                            >
                          </div>
                          <div>
                            <img
                              src="{% static './assets/images/avatar/members-2.png' %}"
                              alt="members"
                            />
                          </div>
                        </div>
                        <div class="flex items-end justify-between">
                          <div class="flex-1">
                            <p
                              class="text-3xl font-bold leading-[48px] text-bgray-900 dark:text-white"
                            >
                              $ {{income}}
                            </p>
                            <div class="flex items-center space-x-1">
                              <span>
                                <svg
                                  width="16"
                                  height="14"
                                  viewBox="0 0 16 14"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M13.4318 0.522827L12.4446 0.522827L8.55575 0.522827L7.56859 0.522827C6.28227 0.522827 5.48082 1.91818 6.12896 3.02928L9.06056 8.05489C9.7037 9.1574 11.2967 9.1574 11.9398 8.05489L14.8714 3.02928C15.5196 1.91818 14.7181 0.522828 13.4318 0.522827Z"
                                    fill="#22C55E"
                                  />
                                  <path
                                    opacity="0.4"
                                    d="M2.16878 13.0485L3.15594 13.0485L7.04483 13.0485L8.03199 13.0485C9.31831 13.0485 10.1198 11.6531 9.47163 10.542L6.54002 5.5164C5.89689 4.41389 4.30389 4.41389 3.66076 5.5164L0.729153 10.542C0.0810147 11.6531 0.882466 13.0485 2.16878 13.0485Z"
                                    fill="#22C55E"
                                  />
                                </svg>
                              </span>
                              <span
                                class="text-sm font-medium text-success-300"
                              >
                                + 3.5%
                              </span>
                            </div>
                          </div>
                          <div class="w-[136px]">
                            <canvas id="totalGoalBar" height="68"></canvas>
                          </div>
                        </div>
                      </div>
                      <div
                        class="rounded-lg bg-white p-5 dark:bg-darkblack-600"
                      >

                      </div>
                    </div>
                  </div>
<div class="hidden flex-1 xl:block">
  <div class="h-full rounded-lg bg-white dark:bg-darkblack-600">
    <div class="flex items-center justify-between border-b border-bgray-300 px-[20px] py-[12px] dark:border-darkblack-400">
      <h3 class="text-xl font-bold text-bgray-900 dark:text-white">
        Efficiency
      </h3>
    </div>
    <div class="px-[20px] py-[12px]">
      <div class="mb-4 flex items-center space-x-8">
        <div class="relative w-[180px]">
          <canvas id="pie_chart" height="168"></canvas>
          <div
            class="absolute z-0 h-[34px] w-[34px] rounded-full bg-[#EDF2F7]"
            style="left: calc(50% - 17px); top: calc(50% - 17px);"
          ></div>
        </div>
        <div class="counting">
          <!-- Income -->
          <div class="mb-6">
            <div class="flex items-center space-x-[2px]">
              <p class="text-lg font-bold text-success-300">
                {{ income|floatformat:0 }} $
              </p>
              <span>
                <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7749 0.558058C10.5309 0.313981 10.1351 0.313981 9.89107 0.558058L7.39107 3.05806C7.14699 3.30214 7.14699 3.69786 7.39107 3.94194C7.63514 4.18602 8.03087 4.18602 8.27495 3.94194L9.70801 2.50888V11C9.70801 11.3452 9.98783 11.625 10.333 11.625C10.6782 11.625 10.958 11.3452 10.958 11V2.50888L12.3911 3.94194C12.6351 4.18602 13.0309 4.18602 13.2749 3.94194C13.519 3.69786 13.519 3.30214 13.2749 3.05806L10.7749 0.558058Z" fill="#22C55E"/>
                  <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M3.22407 11.4419C3.46815 11.686 3.86388 11.686 4.10796 11.4419L6.60796 8.94194C6.85203 8.69786 6.85203 8.30214 6.60796 8.05806C6.36388 7.81398 5.96815 7.81398 5.72407 8.05806L4.29102 9.49112L4.29101 1C4.29101 0.654823 4.01119 0.375001 3.66602 0.375001C3.32084 0.375001 3.04102 0.654823 3.04102 1L3.04102 9.49112L1.60796 8.05806C1.36388 7.81398 0.968151 7.81398 0.724074 8.05806C0.479996 8.30214 0.479996 8.69786 0.724074 8.94194L3.22407 11.4419Z" fill="#22C55E"/>
                </svg>
              </span>
            </div>
            <p class="text-base font-medium text-bgray-600">
              Income
            </p>
          </div>
          <!-- Outcome -->
          <div>
            <div class="flex items-center space-x-[2px]">
              <p class="text-lg font-bold text-error-300">
                {{ outcome|floatformat:0 }} $
              </p>
              <span>
                <svg class="fill-error-300" width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7749 0.558058C10.5309 0.313981 10.1351 0.313981 9.89107 0.558058L7.39107 3.05806C7.14699 3.30214 7.14699 3.69786 7.39107 3.94194C7.63514 4.18602 8.03087 4.18602 8.27495 3.94194L9.70801 2.50888V11C9.70801 11.3452 9.98783 11.625 10.333 11.625C10.6782 11.625 10.958 11.3452 10.958 11V2.50888L12.3911 3.94194C12.6351 4.18602 13.0309 4.18602 13.2749 3.94194C13.519 3.69786 13.519 3.30214 13.2749 3.05806L10.7749 0.558058Z"/>
                  <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M3.22407 11.4419C3.46815 11.686 3.86388 11.686 4.10796 11.4419L6.60796 8.94194C6.85203 8.69786 6.85203 8.30214 6.60796 8.05806C6.36388 7.81398 5.96815 7.81398 5.72407 8.05806L4.29102 9.49112L4.29101 1C4.29101 0.654823 4.01119 0.375001 3.66602 0.375001C3.32084 0.375001 3.04102 0.654823 3.04102 1L3.04102 9.49112L1.60796 8.05806C1.36388 7.81398 0.968151 7.81398 0.724074 8.05806C0.479996 8.30214 0.479996 8.69786 0.724074 8.94194L3.22407 11.4419Z"/>
                </svg>
              </span>
            </div>
            <p class="text-base font-medium text-bgray-600 dark:text-bgray-50">
              Outcome
            </p>
          </div>
        </div>
      </div>
      <div class="status">
        <!-- Income percentage -->
        <div class="mb-1.5 flex items-center justify-between">
          <div class="flex items-center space-x-3">
            <div class="h-2.5 w-2.5 rounded-full bg-success-300"></div>
            <span class="text-sm font-medium text-bgray-600 dark:text-bgray-50">Income</span>
          </div>
          <p class="text-sm font-bold text-bgray-900 dark:text-bgray-50">
            {{ income_percentage }}%
          </p>
        </div>
        <!-- Outcome percentage -->
        <div class="mb-1.5 flex items-center justify-between">
          <div class="flex items-center space-x-3">
            <div class="h-2.5 w-2.5 rounded-full bg-error-300"></div>
            <span class="text-sm font-medium text-bgray-600 dark:text-white">Outcome</span>
          </div>
          <p class="text-sm font-bold text-bgray-900 dark:text-bgray-50">
            {{ outcome_percentage }}%
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
             </div>

                <!-- List Table -->
                <div
                  class="w-full rounded-lg bg-white px-[24px] py-[20px] dark:bg-darkblack-600"
                >
                  <div class="flex flex-col space-y-5">
                    <div class="flex h-[56px] w-full space-x-4">
                      <div
                        class="hidden h-full rounded-lg border border-transparent bg-bgray-100 px-[18px] focus-within:border-success-300 dark:bg-darkblack-500 sm:block sm:w-70 lg:w-88"
                      >
                        <div
                          class="flex h-full w-full items-center space-x-[15px]"
                        >
                          <span>
                            <svg
                              class="stroke-bgray-900 dark:stroke-white"
                              width="21"
                              height="22"
                              viewBox="0 0 21 22"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <circle
                                cx="9.80204"
                                cy="10.6761"
                                r="8.98856"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M16.0537 17.3945L19.5777 20.9094"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </span>
                          <label for="listSearch" class="w-full">
                            <input
                              type="text"
                              id="listSearch"
                              placeholder="Search by name, email, or others..."
                              class="search-input w-full border-none bg-bgray-100 px-0 text-sm tracking-wide text-bgray-600 placeholder:text-sm placeholder:font-medium placeholder:text-bgray-500 focus:outline-none focus:ring-0 dark:bg-darkblack-500"
                            />
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="table-content w-full overflow-x-auto">
                      <table class="w-full">
                        <tr
                          class="border-b border-bgray-300 dark:border-darkblack-400"
                        >
                          <td class="">
                            <label class="text-center">
                              <input
                                type="checkbox"
                                class="h-5 w-5 cursor-pointer rounded-full border border-bgray-400 bg-transparent text-success-300 focus:outline-none focus:ring-0"
                              />
                            </label>
                          </td>
                          <td
                            class="inline-block w-[250px] px-6 py-5 lg:w-auto xl:px-0"
                          >
                            <div class="flex w-full items-center space-x-2.5">
                              <span
                                class="text-base font-medium text-bgray-600 dark:text-bgray-50"
                              >
                                Username</span
                              >
                              <span>
                                <svg
                                  width="14"
                                  height="15"
                                  viewBox="0 0 14 15"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M10.332 1.31567V13.3157"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M5.66602 11.3157L3.66602 13.3157L1.66602 11.3157"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M3.66602 13.3157V1.31567"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M12.332 3.31567L10.332 1.31567L8.33203 3.31567"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </span>
                            </div>
                          </td>
                          <td class="px-6 py-5 xl:px-0">
                            <div class="flex w-full items-center space-x-2.5">
                              <span
                                class="text-base font-medium text-bgray-600 dark:text-bgray-50"
                                >Type</span
                              >
                              <span>
                                <svg
                                  width="14"
                                  height="15"
                                  viewBox="0 0 14 15"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M10.332 1.31567V13.3157"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M5.66602 11.3157L3.66602 13.3157L1.66602 11.3157"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M3.66602 13.3157V1.31567"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M12.332 3.31567L10.332 1.31567L8.33203 3.31567"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </span>
                            </div>
                          </td>
                          <td class="px-6 py-5 xl:px-0">
                            <div class="flex items-center space-x-2.5">
                              <span
                                class="text-base font-medium text-bgray-600 dark:text-bgray-50"
                              >
                                Amount</span
                              >
                              <span>
                                <svg
                                  width="14"
                                  height="15"
                                  viewBox="0 0 14 15"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M10.332 1.31567V13.3157"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M5.66602 11.3157L3.66602 13.3157L1.66602 11.3157"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M3.66602 13.3157V1.31567"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M12.332 3.31567L10.332 1.31567L8.33203 3.31567"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </span>
                            </div>
                          </td>
                          <td class="w-[165px] px-6 py-5 xl:px-0">
                            <div class="flex w-full items-center space-x-2.5">
                              <span
                                class="text-base font-medium text-bgray-600 dark:text-bgray-50"
                                >Date</span
                              >
                              <span>
                                <svg
                                  width="14"
                                  height="15"
                                  viewBox="0 0 14 15"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M10.332 1.31567V13.3157"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M5.66602 11.3157L3.66602 13.3157L1.66602 11.3157"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M3.66602 13.3157V1.31567"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M12.332 3.31567L10.332 1.31567L8.33203 3.31567"
                                    stroke="#718096"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </span>
                            </div>
                          </td>
                          <td class="px-6 py-5 xl:px-0"></td>
                        </tr>
                        {% for history in histories %}
                        <tr
                          class="border-b border-bgray-300 dark:border-darkblack-400"
                        >
                          <td class="">
                            <label class="text-center">
                              <input
                                type="checkbox"
                                class="h-5 w-5 cursor-pointer rounded-full border border-bgray-400 bg-transparent text-success-300 focus:outline-none focus:ring-0"
                              />
                            </label>
                          </td>
                          <td class="px-6 py-5 xl:px-0">
                            <div class="flex w-full items-center space-x-2.5">
                              <div
                                class="h-10 w-10 overflow-hidden rounded-full"
                              >
                                {% if history.wallet.image %}
                                <img
                                  src="{{history.wallet.image.url}}"
                                  alt="avatar"
                                  class="h-full w-full object-cover"
                                />
                                {% endif %}
                              </div>
                              <p
                                class="text-base font-semibold text-bgray-900 dark:text-white"
                              >
                                {{history.user.username}}
                              </p>
                            </div>
                          </td>
                          <td class="px-6 py-5 xl:px-0">
                            <p
                              class="text-base font-medium text-bgray-900 dark:text-white"
                            >
                              {{history.type}}
                            </p>
                          </td>
                          <td class="px-6 py-5 xl:px-0">
                            <p
                              class="text-base font-medium text-bgray-900 dark:text-white"
                            >
                              {{history.amount}}
                            </p>
                          </td>
                          <td class="w-[165px] px-6 py-5 xl:px-0">
                            <p
                              class="text-base font-semibold text-bgray-900 dark:text-white"
                            >
                              {{history.created_at}}
                            </p>
                          </td>
                          <td class="px-6 py-5 xl:px-0">
                            <div class="flex justify-center">
                              <button type="button">
                                <svg
                                  width="18"
                                  height="4"
                                  viewBox="0 0 18 4"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M8 2.00024C8 2.55253 8.44772 3.00024 9 3.00024C9.55228 3.00024 10 2.55253 10 2.00024C10 1.44796 9.55228 1.00024 9 1.00024C8.44772 1.00024 8 1.44796 8 2.00024Z"
                                    stroke="#A0AEC0"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M1 2.00024C1 2.55253 1.44772 3.00024 2 3.00024C2.55228 3.00024 3 2.55253 3 2.00024C3 1.44796 2.55228 1.00024 2 1.00024C1.44772 1.00024 1 1.44796 1 2.00024Z"
                                    stroke="#A0AEC0"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M15 2.00024C15 2.55253 15.4477 3.00024 16 3.00024C16.5523 3.00024 17 2.55253 17 2.00024C17 1.44796 16.5523 1.00024 16 1.00024C15.4477 1.00024 15 1.44796 15 2.00024Z"
                                    stroke="#A0AEC0"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </button>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
              </section>
              <!-- write your card-->


            </div>
          </main>
        </div>
      </div>
    </div>
    <!-- layout end -->

    <!--scripts -->
    <script src="{% static './assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="{% static './assets/js/flatpickr.js' %}"></script>
    <script>
      // min-calender
      $("#min-calender").flatpickr({
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        inline: true,
      });
    </script>
    <script src="{% static './assets/js/slick.min.js' %}"></script>
    <script src="{% static './assets/js/aos.js' %}"></script>
    <script>
      AOS.init();
    </script>
    <script src="{% static './assets/js/main.js' %}"></script>
    <script src="{% static './assets/js/chart.js' %}"></script>
    <script>
      $(".card-slider").slick({
        dots: true,
        infinite: true,
        autoplay: true,
        speed: 500,
        fade: true,
        cssEase: "linear",
        arrows: false,
      });

      //totalEarnBar
      const ctx_bids = document.getElementById("totalEarnBar").getContext("2d");
      const bitsMonth = ["Jan", "Feb", "Mar", "Afril", "May", "Jan"];
      const bitsData = [10, 20, 15, 50, 40, 25];
      let totalEarnBar = new Chart(ctx_bids, {
        type: "bar",
        data: {
          labels: bitsMonth,
          datasets: [
            {
              label: "Visitor",
              data: bitsData,
              backgroundColor: [
                "rgba(237, 242, 247, 1)",
                "rgba(237, 242, 247, 1)",
                "rgba(237, 242, 247, 1)",
                "rgba(34, 197, 94, 1)",
                "rgba(237, 242, 247, 1)",
                "rgba(237, 242, 247, 1)",
              ],
              borderColor: "#22C55E",
              pointRadius: 0,
              pointBackgroundColor: "#fff",
              pointBorderColor: "#22C55E",
              fill: true,
              fillColor: "#fff",
              tension: 0.4,
              borderWidth: 0,
              borderRadius: 3,
            },
          ],
        },
        options: {
          layout: {
            padding: {
              bottom: -20,
            },
          },
          maintainAspectRatio: false,
          responsive: true,
          scales: {
            x: {
              grid: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                display: false,
              },
            },
            y: {
              grid: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                display: false,
              },
            },
          },

          plugins: {
            legend: {
              position: "top",
              display: false,
            },
            title: {
              display: false,
              text: "Visitor: 2k",
            },
            tooltip: {
              enabled: false,
            },
          },
        },
      });

      //totalSpend
      let totalSpend = document
        .getElementById("totalSpendingBar")
        .getContext("2d");
      const SpendingCharbitsMonth = [
        "Jan",
        "Feb",
        "Mar",
        "Afril",
        "May",
        "Jan",
      ];
      const SpendingCharbitsData = [10, 20, 15, 50, 40, 25];
      const totalSpendingChartBar = new Chart(totalSpend, {
        type: "bar",
        data: {
          labels: SpendingCharbitsMonth,
          datasets: [
            {
              label: "Visitor",
              data: SpendingCharbitsData,
              backgroundColor: [
                "rgba(237, 242, 247, 1)",
                "rgba(237, 242, 247, 1)",
                "rgba(237, 242, 247, 1)",
                "rgba(34, 197, 94, 1)",
                "rgba(237, 242, 247, 1)",
                "rgba(237, 242, 247, 1)",
              ],
              borderColor: "#22C55E",
              pointRadius: 0,
              pointBackgroundColor: "#fff",
              pointBorderColor: "#22C55E",
              fill: true,
              fillColor: "#fff",
              tension: 0.4,
              borderWidth: 0,
              borderRadius: 3,
            },
          ],
        },
        options: {
          layout: {
            padding: {
              bottom: -20,
            },
          },
          maintainAspectRatio: false,
          responsive: true,
          scales: {
            x: {
              grid: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                display: false,
              },
            },
            y: {
              grid: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                display: false,
              },
            },
          },

          plugins: {
            legend: {
              position: "top",
              display: false,
            },
            title: {
              display: false,
              text: "Visitor: 2k",
            },
            tooltip: {
              enabled: false,
            },
          },
        },
      });

      // totalGoalBar
      let totalGoalBarSelect = document
        .getElementById("totalGoalBar")
        .getContext("2d");
      const totalGoalBarbitsMonth = [
        "Jan",
        "Feb",
        "Mar",
        "Afril",
        "May",
        "Jan",
      ];
      const totalGoalBarbitsData = [10, 20, 15, 50, 40, 25];
      const totalGoalBar = new Chart(totalGoalBarSelect, {
        type: "bar",
        data: {
          labels: totalGoalBarbitsMonth,
          datasets: [
            {
              label: "Visitor",
              data: totalGoalBarbitsData,
              backgroundColor: [
                "rgba(237, 242, 247, 1)",
                "rgba(237, 242, 247, 1)",
                "rgba(237, 242, 247, 1)",
                "rgba(34, 197, 94, 1)",
                "rgba(237, 242, 247, 1)",
                "rgba(237, 242, 247, 1)",
              ],
              borderColor: "#22C55E",
              pointRadius: 0,
              pointBackgroundColor: "#fff",
              pointBorderColor: "#22C55E",
              fill: true,
              fillColor: "#fff",
              tension: 0.4,
              borderWidth: 0,
              borderRadius: 3,
            },
          ],
        },
        options: {
          layout: {
            padding: {
              bottom: -20,
            },
          },
          maintainAspectRatio: false,
          responsive: true,
          scales: {
            x: {
              grid: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                display: false,
              },
            },
            y: {
              grid: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                display: false,
              },
            },
          },

          plugins: {
            legend: {
              position: "top",
              display: false,
            },
            title: {
              display: false,
              text: "Visitor: 2k",
            },
            tooltip: {
              enabled: false,
            },
          },
        },
      });

      //monthSpendingBar
      let monthSpendingBarSelect = document
        .getElementById("monthSpendingBar")
        .getContext("2d");
      const monthSpendingBarbitsMonth = [
        "Jan",
        "Feb",
        "Mar",
        "Afril",
        "May",
        "Jan",
      ];
      const monthSpendingBarbitsData = [10, 20, 15, 50, 40, 25];
      const monthSpendingBar = new Chart(monthSpendingBarSelect, {
        type: "bar",
        data: {
          labels: monthSpendingBarbitsMonth,
          datasets: [
            {
              label: "Visitor",
              data: monthSpendingBarbitsData,
              backgroundColor: [
                "rgba(237, 242, 247, 1)",
                "rgba(237, 242, 247, 1)",
                "rgba(237, 242, 247, 1)",
                "rgba(34, 197, 94, 1)",
                "rgba(237, 242, 247, 1)",
                "rgba(237, 242, 247, 1)",
              ],
              borderColor: "#22C55E",
              pointRadius: 0,
              pointBackgroundColor: "#fff",
              pointBorderColor: "#22C55E",
              fill: true,
              fillColor: "#fff",
              tension: 0.4,
              borderWidth: 0,
              borderRadius: 3,
            },
          ],
        },
        options: {
          layout: {
            padding: {
              bottom: -20,
            },
          },
          maintainAspectRatio: false,
          responsive: true,
          scales: {
            x: {
              grid: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                display: false,
              },
            },
            y: {
              grid: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                display: false,
              },
            },
          },

          plugins: {
            legend: {
              position: "top",
              display: false,
            },
            title: {
              display: false,
              text: "Visitor: 2k",
            },
            tooltip: {
              enabled: false,
            },
          },
        },
      });

      //revenueFlowBar
      let revenueFlowElement = document
        .getElementById("revenueFlowBar")
        .getContext("2d");
      let revenueFlowBarmonth = [
        "Jan",
        "Feb",
        "Mar",
        "April",
        "May",
        "Jun",
        "July",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ];
      let revenueDark = [
        {
          label: "Dataset 1",
          data: [65, 75, 65, 55, 75, 55, 45, 65, 75, 65, 85, 75],
          backgroundColor: [
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(255, 120, 75, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
          ],
          borderRadius: 3,
        },
        {
          label: "Dataset 2",
          data: [70, 80, 70, 65, 65, 65, 60, 70, 80, 70, 80, 65],
          backgroundColor: [
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(74, 222, 128, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
            "rgba(42, 49, 60, 1)",
          ],
          borderRadius: 3,
        },
      ];
      let revenueLight = [
        {
          label: "Dataset 1",
          data: [65, 75, 65, 55, 75, 55, 45, 65, 75, 65, 85, 75],
          backgroundColor: [
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(255, 120, 75, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
          ],
          borderRadius: 3,
        },
        {
          label: "Dataset 2",
          data: [70, 80, 70, 65, 65, 65, 60, 70, 80, 70, 80, 65],
          backgroundColor: [
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(74, 222, 128, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
            "rgba(237, 242, 247, 1)",
          ],
          borderRadius: 3,
        },
      ];
      let revenueFlow = new Chart(revenueFlowElement, {
        type: "bar",
        data: {
          labels: revenueFlowBarmonth,
          datasets: revenueLight,
        },
        options: {
          maintainAspectRatio: false,
          scales: {
            y: {
              beginAtZero: true,
              grid: {
                color: "rgb(243 ,246, 255 ,1)",
                borderDash: [5, 5],
                borderDashOffset: 2,
              },
              gridLines: {
                zeroLineColor: "transparent",
              },
              ticks: {
                callback(value) {
                  return `${value}% `;
                },
              },
            },
            x: {
              grid: {
                color: "rgb(243 ,246, 255 ,1)",
                borderDash: [5, 5],
                borderDashOffset: 2,
              },
              gridLines: {
                zeroLineColor: "transparent",
              },
            },
          },
          plugins: {
            legend: {
              display: false,
            },
          },
          // x: {
          //   stacked: true,
          // },
          // y: {
          //   stacked: true,
          // },
        },
      });

 function pieChart() {
  const ctx = document.getElementById('pie_chart');
  if (!ctx) return;

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Income', 'Outcome'],
      datasets: [{
        data: [
          {{ income_percentage|default:0 }},
          {{ outcome_percentage|default:0 }}
        ],
        backgroundColor: ['#22C55E', '#EF4444'],

        borderColor: '#ffffff',
        borderWidth: 4,

        spacing: 2,           // ✅ KEY FIX
        borderAlign: 'inner', // keeps shape clean
      }]
    },
    options: {
      cutout: '70%',
      plugins: {
        legend: { display: false }
      }
    }
  });
}
pieChart();


      //dark chart

      let themeToggleSwitch = document.getElementById("theme-toggle");

      //onclick
      if (themeToggleSwitch) {
        themeToggleSwitch.addEventListener("click", function () {
          if (
            document.documentElement.classList[0] === "dark" ||
            localStorage.theme === "dark"
          ) {
            totalEarnBar.data.datasets[0].backgroundColor = [
              "rgba(42, 49, 60, 1)",
              "rgba(42, 49, 60, 1)",
              "rgba(42, 49, 60, 1)",
              "rgba(34, 197, 94, 1)",
              "rgba(42, 49, 60, 1)",
              "rgba(42, 49, 60, 1)",
            ];
            totalSpendingChartBar.data.datasets[0].backgroundColor = [
              "rgba(42, 49, 60, 1)",
              "rgba(42, 49, 60, 1)",
              "rgba(42, 49, 60, 1)",
              "rgba(34, 197, 94, 1)",
              "rgba(42, 49, 60, 1)",
              "rgba(42, 49, 60, 1)",
            ];
            totalGoalBar.data.datasets[0].backgroundColor = [
              "rgba(42, 49, 60, 1)",
              "rgba(42, 49, 60, 1)",
              "rgba(42, 49, 60, 1)",
              "rgba(34, 197, 94, 1)",
              "rgba(42, 49, 60, 1)",
              "rgba(42, 49, 60, 1)",
            ];
            monthSpendingBar.data.datasets[0].backgroundColor = [
              "rgba(42, 49, 60, 1)",
              "rgba(42, 49, 60, 1)",
              "rgba(42, 49, 60, 1)",
              "rgba(34, 197, 94, 1)",
              "rgba(42, 49, 60, 1)",
              "rgba(42, 49, 60, 1)",
            ];
            revenueFlow.data.datasets = revenueDark;
            revenueFlow.options.scales.y.ticks.color = "white";
            revenueFlow.options.scales.x.ticks.color = "white";
            revenueFlow.options.scales.x.grid.color = "#222429";
            revenueFlow.options.scales.y.grid.color = "#222429";
            totalEarnBar.update();
            totalSpendingChartBar.update();

            totalGoalBar.update();
            monthSpendingBar.update();
            revenueFlow.update();
          } else {
            totalEarnBar.data.datasets[0].backgroundColor = [
              "rgba(237, 242, 247, 1)",
              "rgba(237, 242, 247, 1)",
              "rgba(237, 242, 247, 1)",
              "rgba(34, 197, 94, 1)",
              "rgba(237, 242, 247, 1)",
              "rgba(237, 242, 247, 1)",
            ];
            totalSpendingChartBar.data.datasets[0].backgroundColor = [
              "rgba(237, 242, 247, 1)",
              "rgba(237, 242, 247, 1)",
              "rgba(237, 242, 247, 1)",
              "rgba(34, 197, 94, 1)",
              "rgba(237, 242, 247, 1)",
              "rgba(237, 242, 247, 1)",
            ];
            totalGoalBar.data.datasets[0].backgroundColor = [
              "rgba(237, 242, 247, 1)",
              "rgba(237, 242, 247, 1)",
              "rgba(237, 242, 247, 1)",
              "rgba(34, 197, 94, 1)",
              "rgba(237, 242, 247, 1)",
              "rgba(237, 242, 247, 1)",
            ];
            monthSpendingBar.data.datasets[0].backgroundColor = [
              "rgba(237, 242, 247, 1)",
              "rgba(237, 242, 247, 1)",
              "rgba(237, 242, 247, 1)",
              "rgba(34, 197, 94, 1)",
              "rgba(237, 242, 247, 1)",
              "rgba(237, 242, 247, 1)",
            ];
            revenueFlow.data.datasets = revenueLight;
            revenueFlow.options.scales.y.ticks.color = "black";
            revenueFlow.options.scales.x.ticks.color = "black";
            revenueFlow.options.scales.x.grid.color = "rgb(243 ,246, 255 ,1)";
            revenueFlow.options.scales.y.grid.color = "rgb(243 ,246, 255 ,1)";
            totalEarnBar.update();
            totalSpendingChartBar.update();

            totalGoalBar.update();
            monthSpendingBar.update();
            revenueFlow.update();
          }
        });
      }

      //initial load
      if (
        localStorage.theme === "dark" ||
        window.matchMedia("(prefers-color-scheme: dark)").matches
      ) {
        totalEarnBar.data.datasets[0].backgroundColor = [
          "rgba(42, 49, 60, 1)",
          "rgba(42, 49, 60, 1)",
          "rgba(42, 49, 60, 1)",
          "rgba(34, 197, 94, 1)",
          "rgba(42, 49, 60, 1)",
          "rgba(42, 49, 60, 1)",
        ];
        totalSpendingChartBar.data.datasets[0].backgroundColor = [
          "rgba(42, 49, 60, 1)",
          "rgba(42, 49, 60, 1)",
          "rgba(42, 49, 60, 1)",
          "rgba(34, 197, 94, 1)",
          "rgba(42, 49, 60, 1)",
          "rgba(42, 49, 60, 1)",
        ];
        totalGoalBar.data.datasets[0].backgroundColor = [
          "rgba(42, 49, 60, 1)",
          "rgba(42, 49, 60, 1)",
          "rgba(42, 49, 60, 1)",
          "rgba(34, 197, 94, 1)",
          "rgba(42, 49, 60, 1)",
          "rgba(42, 49, 60, 1)",
        ];
        monthSpendingBar.data.datasets[0].backgroundColor = [
          "rgba(42, 49, 60, 1)",
          "rgba(42, 49, 60, 1)",
          "rgba(42, 49, 60, 1)",
          "rgba(34, 197, 94, 1)",
          "rgba(42, 49, 60, 1)",
          "rgba(42, 49, 60, 1)",
        ];
        revenueFlow.data.datasets = revenueDark;
        revenueFlow.options.scales.y.ticks.color = "white";
        revenueFlow.options.scales.x.ticks.color = "white";
        revenueFlow.options.scales.x.grid.color = "#222429";
        revenueFlow.options.scales.y.grid.color = "#222429";
      } else {
        totalEarnBar.data.datasets[0].backgroundColor = [
          "rgba(237, 242, 247, 1)",
          "rgba(237, 242, 247, 1)",
          "rgba(237, 242, 247, 1)",
          "rgba(34, 197, 94, 1)",
          "rgba(237, 242, 247, 1)",
          "rgba(237, 242, 247, 1)",
        ];
        totalSpendingChartBar.data.datasets[0].backgroundColor = [
          "rgba(237, 242, 247, 1)",
          "rgba(237, 242, 247, 1)",
          "rgba(237, 242, 247, 1)",
          "rgba(34, 197, 94, 1)",
          "rgba(237, 242, 247, 1)",
          "rgba(237, 242, 247, 1)",
        ];
        totalGoalBar.data.datasets[0].backgroundColor = [
          "rgba(237, 242, 247, 1)",
          "rgba(237, 242, 247, 1)",
          "rgba(237, 242, 247, 1)",
          "rgba(34, 197, 94, 1)",
          "rgba(237, 242, 247, 1)",
          "rgba(237, 242, 247, 1)",
        ];
        monthSpendingBar.data.datasets[0].backgroundColor = [
          "rgba(237, 242, 247, 1)",
          "rgba(237, 242, 247, 1)",
          "rgba(237, 242, 247, 1)",
          "rgba(34, 197, 94, 1)",
          "rgba(237, 242, 247, 1)",
          "rgba(237, 242, 247, 1)",
        ];
        revenueFlow.data.datasets = revenueLight;
        revenueFlow.options.scales.y.ticks.color = "black";
        revenueFlow.options.scales.x.ticks.color = "black";
        revenueFlow.options.scales.x.grid.color = "rgb(243 ,246, 255 ,1)";
        revenueFlow.options.scales.y.grid.color = "rgb(243 ,246, 255 ,1)";
      }
      totalEarnBar.update();
      totalSpendingChartBar.update();

      totalGoalBar.update();
      monthSpendingBar.update();
      revenueFlow.update();
    </script>

<script>
  function selectWallet(element) {
    document.querySelectorAll(".wallet-card").forEach(card => {
      card.classList.remove("border-success-300");
    });

    element.classList.add("border-success-300");

    document.getElementById("walletType").innerText =
      element.dataset.type.toUpperCase();

    document.getElementById("walletBalance").innerText =
      element.dataset.balance + " $";
  }

  document.addEventListener("DOMContentLoaded", () => {
    const first = document.querySelector(".wallet-card");
    if (first) selectWallet(first);
  });
</script>

<<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("listSearch");

    if (!searchInput) return;

    // ✅ target ONLY the history table rows (exclude header)
    const table = searchInput
      .closest(".flex")
      .nextElementSibling
      .querySelector("table");

    const rows = table.querySelectorAll("tr:not(:first-child)");

    searchInput.addEventListener("input", function () {
      const value = this.value.toLowerCase().trim();

      rows.forEach(row => {
        const text = row.innerText.toLowerCase();
        row.style.display = text.includes(value) ? "" : "none";
      });
    });
  });
</script>


  </body>
</html>

{% endblock content %}