{% extends "base.html" %}
{% load static %}

{% block content %}
<form method="POST">
  {% csrf_token %}

  <!-- Wallet Name -->
  <div class="form-group">
    <label>Wallet Name</label>
    <input type="text" name="name" placeholder="Main card, Cash" required>
  </div>

  <!-- Wallet Type -->
  <div class="form-group">
    <label>Wallet Type</label>
    <select name="type" id="walletType" required>
      <option value="cash">Cash</option>
      <option value="bank_card">Bank Card</option>
      <option value="visa">Visa</option>
    </select>
  </div>

  <!-- Currency -->
  <div class="form-group">
    <label>Currency</label>
    <select name="currency" id="currencySelect" required>
      <option value="UZS">UZS</option>
      <option value="USD">USD</option>
    </select>

    <!-- WARNING MESSAGE -->
    <small id="visaWarning" style="display:none; color:#2563eb;">
      ⚠ VISA card cannot be in UZS currency. Please select USD.
    </small>
  </div>

  <!-- Balance -->
  <div class="form-group">
    <label>Initial Balance</label>
    <input type="number" step="0.01" name="balance" value="0" required>
  </div>

  <button type="submit" class="submit-btn">
    Create Wallet
  </button>
</form>

<script>
  const walletType = document.getElementById("walletType");
  const currencySelect = document.getElementById("currencySelect");
  const visaWarning = document.getElementById("visaWarning");

  function validateVisaCurrency() {
    if (walletType.value === "visa") {
      if (currencySelect.value === "UZS") {
        visaWarning.style.display = "block";
        currencySelect.value = "USD";
      } else {
        visaWarning.style.display = "none";
      }
    } else {
      visaWarning.style.display = "none";
    }
  }

  walletType.addEventListener("change", validateVisaCurrency);
  currencySelect.addEventListener("change", validateVisaCurrency);
</script>


{% endblock %}
